:root {
  --clr-primary-100: hsl(179, 49%, 59%);
  --clr-primary-200: hsl(179, 62%, 43%);
  --clr-pirmary-400: hsl(71, 73%, 54%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(204, 43%, 93%);
  --clr-neutral-400: hsl(218, 22%, 67%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-main: "Karla", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* General Styling */
body {
  font-family: var(--ff-main);
  font-size: 1rem;
  background: var(--clr-neutral-200);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

ul {
  list-style: none;
}

/* Card Styling */
.card {
  --section-padding: 1.5rem;
  --section-gap: 1rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 650px;
}

.main {
  padding: var(--section-padding);
  background: var(--clr-neutral-100);
  display: grid;
  gap: var(--section-gap);
}

.main__title {
  font-size: 1.2rem;
  color: var(--clr-primary-200);
}

.main__info {
  color: var(--clr-pirmary-400);
  font-weight: var(--fw-bold);
}

.main__description {
  color: var(--clr-neutral-400);
  line-height: 1.7;
  font-size: 0.9rem;
}

.subscription {
  padding: var(--section-padding);
  background: var(--clr-primary-200);
  color: var(--clr-neutral-200);
  display: grid;
  /* gap: var(--section-gap); */
}

.subscription__title {
  font-size: 1.2rem;
}

.subscription__price-group {
  display: flex;
  align-items: center;
  gap: var(--section-gap);
  margin: 1rem 0 0.25rem 0;
}

span {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.subscription__price {
  opacity: 0.7;
}

.subscription__btn {
  font-weight: var(--fw-bold);
  background: var(--clr-pirmary-400);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
  color: var(--clr-neutral-100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info {
  display: grid;
  gap: var(--section-gap);
  padding: var(--section-padding);
  background: var(--clr-primary-100);
  color: var(--clr-neutral-200);
}

.info__title {
  font-size: 1.2rem;
}

li {
  font-size: 0.9rem;
}


/* Media Queries */
@media (min-width: 600px) {
  .item {
    padding: 2.5rem;
  }

  .subscription,
  .info {
    width: 50%;
  }

  section {
    display: flex;
  }

  .main__description {
    font-size: 1rem;
  }

  .subscription__price-group {
    margin-top: 0;    
  }

  .subscription__btn {
    margin-top: 0.5rem;
    padding: 0.25rem;
  }

  .subscription__title,
  .info__title {
    font-size: 1.125rem;
  }

 

}